body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.stade{
    margin: 20px;
    padding: 20px;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 75rem;
    height: 940px;
    margin-top: -200px;
}
#stade{
    position: relative;
    top: 545px;
    left: 260px;
    width: 750px;
    text-align: center;
}
.bloc1{
    position: relative;
    left: 30px;
    width: 150px;
}

.ligne1{
    display: flex;
    gap: 3px;
    width: 1120px;
}
.rang1{
    width: 50px;
    height: 25px;
    background-color: #02c132;
    border-radius:  12.5px 12.5px 3px  3px;
}
.ligne2{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    width: 1050px;
    position: relative;
    left: 30px;
}
.rang2{
    width: 50px;
    height: 25px;
    background-color: #02c132;
    border-radius:  12.5px 12.5px 3px  3px;
}
.ligne3{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    width: 997px;
    position: relative;
    left: 60px;
}
.rang3{
    width: 50px;
    height: 25px;
    background-color: #fee507;
    border-radius:  12.5px 12.5px 3px  3px;
}
.ligne4{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    width: 944px;
    position: relative;
    left: 90px;
}

.rang4{
    width: 50px;
    height: 25px;
    background-color: #fee507;
    border-radius:  12.5px 12.5px 3px  3px;
}
.ligne5{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    width: 891px;
    position: relative;
    left: 120px;
}
.rang5{
    width: 50px;
    height: 25px;
    background-color: #ee0000;
    border-radius:  12.5px 12.5px 3px  3px;
}
.ligne6{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    width: 838px;
    position: relative;
    left: 150px;
}
.rang6{
    width: 50px;
    height: 25px;
    background-color: #ee0000;
    border-radius:  12.5px 12.5px 3px  3px;
}
.bloc2{
    position: relative;
    left: 1080px;
    transform: rotate(90deg);
    top: -210px;
    width: 50px;
    text-align: center;
}
.bloc3{
    position: relative;
    transform: rotate(-90deg);
    left: 65px;
    top: 445px;
    width: 50px;
    text-align: center;
}
.bloc4{
    position: relative;
    transform: rotate(-180deg);
    left: 1117px;
    top: 240px;
    width: 50px;
}
.ligne11{
    display: flex;
    gap: 3px;
    width: 850px;
}
.rang11{
    width: 50px;
    height: 25px;
    background-color: #02c132;
    border-radius:  12.5px 12.5px 3px  3px;
}
.ligne22{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    width: 800px;
    position: relative;
    left: 30px;
}
.rang22{
    width: 50px;
    height: 25px;
    background-color: #02c132;
    border-radius:  12.5px 12.5px 3px  3px;
}
.ligne33{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    width: 740px;
    position: relative;
    left: 60px;
}
.rang33{
    width: 50px;
    height: 25px;
    background-color: #fee507;
    border-radius:  12.5px 12.5px 3px  3px;
}
.ligne44{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    width: 680px;
    position: relative;
    left: 90px;
}

.rang44{
    width: 50px;
    height: 25px;
    background-color: #fee507;
    border-radius:  12.5px 12.5px 3px  3px;
}
.ligne55{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    width: 630px;
    position: relative;
    left: 120px;
}
.rang55{
    width: 50px;
    height: 25px;
    background-color: #ee0000;
    border-radius:  12.5px 12.5px 3px  3px;
}
.ligne66{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    width: 580px;
    position: relative;
    left: 150px;
}
.rang66{
    width: 50px;
    height: 25px;
    background-color: #ee0000;
    border-radius:  12.5px 12.5px 3px  3px;
}